body{
display: flex;
flex-direction: column;
min-height: 100vh;
}

main{
flex-grow: 1;
}

footer{
background-image: linear-gradient(black, #2c2c2c);
}

footer p{
margin-bottom: 0px;
padding: 0;
}

footer img{
display: inline-block;
}

.footer-row-1{
margin-left: 15px;
padding-bottom: 10px;
}

.footer-row-2{
display: flex;
flex-direction: column;
align-items: end;
margin-right: 15px;
padding-bottom: 10px;
}

.footer-link{
color: white;
}

@media (max-width: 539px)
{
	footer{
	font-size: 10px;
	}

	.footer-row-2{
	display: flex;
	flex-direction: column;
	align-items: end;
	margin-right: 20px;
	padding-bottom: 10px;
	}
}

@media (min-width: 540px) and (max-width: 762px)
{
	footer{
	font-size: 10px;
	}
}