@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("/NavBar/NavBar.css");

body
{
background: #000;
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
color: white;
}

body::-webkit-scrollbar{
display: none;
}

::selection{
background-color: white;
color: black;
}

#CIF-section{
display: flex;
justify-content: center;
}

#Earth-container{
display: grid;
grid-template-columns: repeat(10, 5rem);
grid-template-rows: repeat(8, 5rem);
width: calc(10 * 5rem);
}

#Earth{
width: 300px;
height: 300px;
background: url("./Assets/Images/home/home-earth.jpg");
background-size: cover;
background-repeat: repeat-x;
border-radius: 50%;
box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 
	0 0 50px #4069ff;
animation: animateEarth 30s linear infinite;
}

@keyframes animateEarth
{
	0%
	{
	background-position: 0 0;
	}
	100%
	{
	background-position: -750px 0;
	}
}

#Earth-grid-area{
display: flex;
justify-content: center;
align-items: center;
grid-area: 3 / 4 / 7 / 8;
}

.Earth-grid-icons{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.Earth-grid-icons p{
margin: 0;
padding: 0;
}

#search-icon{
font-size: 1.05rem;
grid-area: 1 / 5 / 3 / 7;
}
#search-icon img{
width: 53px;
height: 53px;
}
#calling-codes-icon{
grid-area: 2 / 8 / 4 / 10;
}
#currencies-icon{
grid-area: 4 / 9 / 6 / 11;
}
#demonyms-icon{
grid-area: 6 / 8 / 8 / 10;
}
#time-conversions-icon{
grid-area: 7 / 5 / 9 / 7;
}
#languages-icon{
grid-area: 6 / 2 / 8 / 4;
}
#country-flags-icon{
grid-area: 4 / 1 / 6 / 3;
}
#capital-cities-icon{
grid-area: 2 / 2 / 4 / 4;
}

#Earth-hover-icon:hover{
width: 55px;
height: 55px;
}

#Earth-hover-icon:active{
width: 45px;
height: 45px;
}

#poppulation-banner{
display: flex;
justify-content: center;
}

#poppulation-info{
display: inline-block;
}

#population{
font-size: 27px;
}

.row-cols-md-3>*{
width: auto;
margin: 0.5rem;
}

footer p{
margin-bottom: 0px;
padding: 0;
}

footer img{
display: inline-block;
}

.footer-row-1{
margin-left: 15px;
padding-bottom: 10px;
}

.footer-row-2{
display: flex;
flex-direction: column;
align-items: end;
margin-right: 15px;
padding-bottom: 10px;
}

.credits-link{
color: white;
}

@media (max-width: 540px)
{
	main{
	padding-top: 33px;
	}

	#Earth{
	width: 150px;
	height: 150px;
	}

	#Earth-container img{
	width: 27px;
	height: 27px;
	}

	#Earth-container{
	grid-template-columns: repeat(8, 2.5rem);
	grid-template-rows: repeat(8, 2.5rem);
	width: calc(8 * 2.5rem);
	font-size: 8px;
	}

	#Earth-grid-area{
	grid-area: 2 / 2 / 8 / 8;
	}

	#search-icon{
	grid-area: 1 / 3 / 3 / 7;
	}
	#search-icon{
	font-size: 10px;
	}
	#calling-codes-icon{
	grid-area: 2 / 7 / 4 / 9;
	}
	#currencies-icon{
	grid-area: 4 / 7 / 6 / 9;
	}
	#demonyms-icon{
	grid-area: 6 / 7 / 8 / 9;
	}
	#languages-icon{
	grid-area: 6 / 1 / 8 / 3;
	}
	#time-conversions-icon{
	grid-area: 7 / 4 / 9 / 6;
	}
	#country-flags-icon{
	grid-area: 4 / 1 / 6 / 3;
	}
	#capital-cities-icon{
	grid-area: 2 / 1 / 4 / 3;
	}

	#Earth-hover-icon:hover{
	width: 32px;
	height: 32px;
	}

	#Earth-hover-icon:active{
	width: 22px;
	height: 22px;
	}

	#poppulation-banner{
	margin-left: 15px;
	}

	#poppulation-banner img{
	height: 100px;
	order: 1;
	}

	#poppulation-info h2{
	font-size: 20px;
	}

	#poppulation-info span{
	font-size: 18px;
	}

	footer{
	font-size: 10px;
	}

	.footer-row-2{
	display: flex;
	flex-direction: column;
	align-items: end;
	margin-right: 20px;
	padding-bottom: 10px;
	}
}

@media (min-width: 540px) and (max-width: 762px){
	#Earth{
	width: 200px;
	height: 200px;
	}

	#Earth-container img{
	width: 35px;
	height: 35px;
	}

	#Earth-container{
	grid-template-columns: repeat(8, 3rem);
	grid-template-rows: repeat(8, 3rem);
	width: calc(10 * 3rem);
	font-size: 10px;
	}

	#search-icon{
	font-size: 11px;
	}

	#search-icon{
	grid-area: 3 / 4 / 1 / 8;
	}

	#search-icon img{
	width: 41px;
	height: 41px;
	}
	
	#Earth-grid-area{
	grid-area: 3 / 4 / 7 / 8;
	}

	#Earth-hover-icon:hover{
	width: 40px;
	height: 40px;
	}

	#Earth-hover-icon:active{
	width: 30px;
	height: 30px;
	}

	#poppulation-banner img{
	height: 125px;
	order: 1;
	}

	#features-section{
	margin-top: 7.5rem;
	}

	#blogs-section{
	margin-top: 3rem;
	}

	.album img{
	height: 125px;
	}

	#blog-card-effects:hover{
	height: 130px;
	}

	#blog-card-effects:active{
	height: 120px;
	}

	footer{
	font-size: 10px;
	}
}
@media (min-width: 761px)
{
	#features-section{
	margin-top: 10rem;
	}

	#blogs-section{
	margin-top: 6rem;
	}
}

@media (max-width: 540px)
{
	footer{
	position: fixed;
	bottom: 0;
	}
}