@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../../Components/scrollbar.css');

body
{
background: #000;
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
color: white;
}

::selection{
background-color: white;
color: black;
}

#callingcodes-banner{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#callingcodes-banner p{
margin: 0;
}

/* Filter options code */

#filter-options h2{
text-align: center;
}

#filter-options{
border: 1px solid white;
width: 900px;
padding: 15px;
}

#options-heading{
text-align: center;
font-size: 25px;
}

#options-subtitle{
font-size: 20px;
}

#options-grid{
display: grid;
grid-template-rows: repeat(6, 40px);
grid-template-columns: repeat(5, 160px);
gap: 5px;
}

#options-grid label{
font-size: 12px;
}

.form-check-label{
align-items: center; 
margin-left: 10px;
}